body {
    font-family: Garamond, serif;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    font-style: italic;
}

.header {
    border-bottom: 1px solid #000;
}

.container {
    display: flex;
}

.container div { 
    margin: 10%;
    flex: 1;
}

.section-title {
    border-bottom: 1px solid #000;
}

.experience {
    border-bottom: 1px solid #000;
}

.about {
    border-right: 1px solid #000;
    height: 90%;
    width: 30%;
    overflow: scroll;
}

.projects {
    height: 90%;
    overflow: scroll;
}

.experience-header {
    display: flex;
    justify-content: space-between;
}