body {
    font-family: Garamond, serif;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.container {
    display: flex;
}

.container div { 
    flex: 1;
}

.about {
    width: 30%
}

.about:after{
    content: "";
    background-color: #000;
    position: absolute;
    width: 5px;
    height: 100px;
    top: 10px;
    left: 50%;
    display: block;
}

.experience-header {
    display: flex;
}