body {
    font-family: Garamond, serif;
    margin: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    font-style: italic;
}

.header {
    border-bottom: 1px solid #000;
}

.container {
    display: flex;
}

.container div { 
    flex: 1;
}

.section-title {
    border-bottom: 1px solid #000;
}

.experience-header {
    display: flex;
    justify-content: space-between;
}

.experience {
    border-bottom: 1px solid #000;
}

.experience:last-child {
    border-bottom: 0;
}

.about {
    height: 100%;
    flex-shrink: 3;
    border-right: 1px solid #000;
    padding-right: 10px;
    flex-basis: 200px;
    overflow-y: scroll;
}

.projects {
    height: 100%;
    padding-left: 10px;
    overflow-y: scroll;
}